// src/styles/global.scss
@use 'variables' as vars;

* {
  box-sizing: border-box;
}

body {
  font-family: vars.$font-family-sans;
  color: vars.$white;
}

a {
  text-decoration: none;
  color: vars.$white;
}