// src/styles/global.scss
@use 'variables' as vars;

* {
  box-sizing: border-box;
}

body {
  font-family: vars.$font-family-sans;
  color: vars.$white;
}

a {
  text-decoration: none;
  color: vars.$white;
}

.auth-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__spinner {
    width: 30px;
    height: 30px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #007bff;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}