// src/styles/global.scss
@use 'variables' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: vars.$primary-color;
  font-family: vars.$font-family-sans;
  color: vars.$white;
}

a {
  text-decoration: none;
  color: vars.$white;
}

button {
  cursor: pointer;
}